/* Contact Page */

/* Hide Lables */
.visually-hidden {
	border-width: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 1px !important;
}

#contact__main__content {
	text-align: center;
	background-color: #312f2f;
	margin: 5vw 30vw;
	padding: 1em;
	color: #f2f2f2;
	border-radius: 3%;
}

#contact__main__content a {
	color: #f2f2f2;
}

#contact__main__content input,
#contact__main__content form textarea {
	border: 1px solid #f2f2f2;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #666;
	padding: 4px 7px;
	outline: 0;
}

.item-a {
	grid-area: name;
}
.item-b {
	grid-area: email;
}
.item-c {
	grid-area: phone;
}
.item-d {
	grid-area: txt;
}

.item-e {
	grid-area: send;
}

#contact-form {
	padding: 0.2em;
	margin: 0.2em;
	display: grid;
	gap: 0.5em;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		'name name name name'
		'email email phone phone'
		'txt txt txt txt'
		'send send send send';
}

#contact__main__content form input,
#contact__main__content form textarea {
	width: 100%;
	max-width: 100%;
}

@media all and (max-width: 550px) {
	#contact-form {
		grid-template-areas:
			'name name name name'
			'email email email email'
			'phone phone phone phone'
			'txt txt txt txt'
			'send send send send';
	}

	#contact__main__content {
		margin: 10vw;
	}
}

@media all and (min-width: 550px) and (max-width: 850px) {
	#contact__main__content {
		margin: 5vw 10vw;
	}
}
