* {
	box-sizing: border-box;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover,
a:focus {
	text-decoration: underline;
	color: #fc440f;
}

a:active {
	color: #312f2f;
	font-weight: bold;
}

.background__primary {
	background-color: #f2f2f2;
}

.background__secondary {
	background-color: #312f2f;
	color: #f2f2f2;
}

.button__primary {
	width: 220px;
	height: 50px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.button__primary:before {
	content: '';
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.button__primary:active {
	color: #000;
}

.button__primary:active:after {
	background: transparent;
}

.button__primary:hover:before {
	opacity: 1;
}

.button__primary:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.page-header {
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header__item {
	flex: 0 1 200px;
}

.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.profile {
	max-width: 700px;
	margin: 5% auto;
}

.profile__portrait {
	float: left;
	width: 250px;
	margin-right: 40px;
	border-radius: 50%;
}

.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* start grid fallback */
.grid__item {
	display: inline-block;
	width: 33%;
}
/* end grid fallback */

.grid a {
	color: #f2f2f2;
}

.grid a:hover {
	color: #fc440f;
}

@supports (display: grid) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		margin: 0;
		color: #f2f2f2;
	}
	.grid__item {
		background-color: #312f2f;
		width: auto;
		min-height: auto;
		margin: 0;
		padding: 5%;
	}
}
