* {
	box-sizing: border-box;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:active {
	color: #312f2f;
	font-weight: bold;
}

.background__primary {
	background-color: #f2f2f2;
}

.background__secondary {
	background-color: #312f2f;
	color: #f2f2f2;
}

.button__primary {
	display: inline-block;
	padding: 15px;
	min-width: 100px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	text-transform: capitalize;
	text-align: center;
}

a:hover.button__primary {
	text-decoration: none;
}

a:visited.button__primary {
	color: #f2f2f2;
}

.button__primary:before {
	content: '';
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.button__primary:active {
	color: #000;
}

.button__primary:active:after {
	background: transparent;
}

.button__primary:hover:before {
	opacity: 1;
}

.button__primary:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

/* Nav bar */

.page-navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
}

/* Top and Bottom borders come in */
div.container a {
	text-decoration: none;
	margin: 0px 10px;
	padding: 10px 10px;
	position: relative;
	cursor: pointer;
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 2px;
	background: #000000;
	content: '';
	opacity: 0;
	transition: all 0.3s;
}

div.topBotomBordersOut a:before {
	top: 0px;
	transform: translateY(10px);
}

div.topBotomBordersOut a:after {
	bottom: 0px;
	transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
	opacity: 1;
	transform: translateY(0px);
}

.navigation-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.nav__logo {
	width: 250px;
}

.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media all and (max-width: 550px) {
	.navigation-list {
		font-size: 12px;
	}

	.navigation-list li {
		margin: 0.5em;
	}

	div.container a {
		padding: 0;
		margin: 0;
	}
}

@media all and (max-width: 750px) {
	h1 {
		font-size: 22px;
	}

	.page-navbar {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.navigation-list {
		padding: 0;
	}

	.nav__logo {
		width: 50%;
	}
}
